body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #edf5fc;
    font-family:'Changa', sans-serif;
}
.container{
    background-color:#b8c5d6;
    height: 70%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px 5px 0px 0px; 
}
.container h1{
    margin: 1rem 0;
    font-size: 1.8rem;
}
.container h2{
    opacity: 0.6;
}
#limit{
    width: 15%;
    height: 1.5rem;
    padding: .3rem;
    border: 0;
    outline: none;
    margin: 0 0 0 1rem;
}
#msg{
    width: 99%;
    height: 70%;
    resize: none;
    outline: none;
}
#limit,#msg{
    font-family:'Changa', sans-serif;
}

#limit::placeholder,
#msg::placeholder{
    font-family:'Changa', sans-serif;
}